body{
    max-width: 98%;
}

a {
    text-decoration: none !important;
}

h1 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 12vh;
}

h3 {
    font-family: 'Merriweather';
}

h4 {
    line-height: 1.6;
}

.bg-teal {
    background-color: teal;
}

.card-text {
    overflow-y: auto;
    max-height: 12vh;
    padding-bottom: 5px;
}

.card-tag {
    max-height: 0.5vh;
}

.btn {
    margin-left: 0px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-text {
    margin: 2px;
    margin-top: 5px;
    margin-left: 0px;
    padding:5px;
    font-size: 13px;
}

.btn-custom {
    background-color:teal; /* Custom green button background color */
    border-color: #427E7F; /* Custom green button border color */
    color: white;
    border-radius: 0;
  }

.btnf {
    color: teal;
}

.color-teal {
    color: teal;
}

.mark-teal {
    background-color: teal;
    color: white;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

/* width */
::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.form-group {
    padding-right: 15px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid teal;
    border-radius: 0;
}

/* style for timeline */

.work-custom {
    font-size: large;
    padding-top: 1vh;
}

.timeline-container {
    position: relative;
    width: 100%; /* Adjust as needed */
}

/* Y-axis */
.timeline-25 {
    content: '';
    position: absolute;
    left: 25%;
    width: 2px;
    height: 100%;
    background: #ccc; /* Color of the axis */
    z-index: -9;
}

/* Y-axis */
.timeline-50 {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #ccc; /* Color of the axis */
    z-index: -9;
}

/* Y-axis */
.timeline-75 {
    content: '';
    position: absolute;
    left: 75%;
    width: 2px;
    height: 100%;
    background: #ccc; /* Color of the axis */
    z-index: -9;
}

/* Default for small screens */
.container-small {
    position: relative;
}

/* For large screens and above */
@media (min-width: 992px) {
    .container-small {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media (max-width: 768px) {
    .timeline-50 {
        display: none;
    }

    .timeline-25 {
        display: none;
    }

    .timeline-75 {
        display: none;
    }

    .img-thumbnail{
        display: none;
    }

    .title-custom {
        margin-left: 0px;
        margin-top: 0%;
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.2) !important; /* Change the last value (0.3) to adjust the transparency */
}

.modal-body {
    max-height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.timeline-container {
    position: relative;
    width: 100%; /* Adjust as needed */
}

.img-thumbnail {
    width: 20vw;
    opacity: 0.7;
    filter: grayscale(50%); 
}

.img-thumbnail:hover {
    filter: grayscale(10%); 
}

.title-custom {
    margin-right: -7vw;
    margin-top: 10%;
    z-index: 1;
    text-align: right;
}