body{
    max-width: 98%;
}

a {
    text-decoration: none !important;
}

.h1 {
    font-family: 'Montserrat';
}

.card-text {
    overflow-y: auto;
    height: 10vh;
}

.card-tag {
    max-height: 0.5vh;
}

.btnf {
    color: teal;
}

.color-teal {
    color: teal;
}

.mark-teal {
    background-color: teal;
    color: white;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

/* width */
::-webkit-scrollbar {
width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}