html {
    scroll-behavior: auto !important;
}

body{
    max-width: 98%;
    background-color: white;
}

a {
    text-decoration: none !important;
    color: #555;
}

a:hover{
    color: #fe705d;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-size: 7vw;
}

h3 {
    font-family: "Chakra Petch", sans-serif;
}

h4 {
    line-height: 1.6;
}


.icon-custom {
    font-size: 20px;
}

.bg-teal {
    background-color: teal;
}

.card-text {
    overflow-y: auto;
    max-height: 12vh;
    padding-bottom: 5px;
}

.card-tag {
    max-height: 0.5vh;
}

.btn {
    margin-left: 0px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-text {
    margin: 2px;
    margin-top: 5px;
    margin-left: 0px;
    padding:5px;
    font-size: 13px;
}

.btn-custom {
    background-color:teal; /* Custom green button background color */
    border-color: #427E7F; /* Custom green button border color */
    color: white;
    border-radius: 50;
}

.btnf {
    color: teal;
}

.color-teal {
    color: teal;
}

.color-green {
    color: #008081;
}

.color-light-green {
    color: #00cc99;
}

.color-purple {
    color: #6b59cd;
}

.color-pink {
    color: #ffb7c5;
}

.color-orange {
    color: #fe705d;
}

.underline-custom {
    background-color: #fe705d;
    height: 0.5vh;
    bottom: 0;
    position:absolute;
}

.mark-teal {
    background-color: teal;
    color: white;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

/* width */
::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.form-group {
    padding-right: 15px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid teal;
    border-radius: 0;
    background-color: transparent;
}

/* style for timeline */

.work-custom {
    font-size: large;
    padding-top: 1vh;
}

.timeline-container {
    position: relative;
    width: 100%; /* Adjust as needed */
}

/* Y-axis */
.timeline-25 {
    content: '';
    position: absolute;
    left: 25%;
    width: 2px;
    height: 100%;
    background: #ccc; /* Color of the axis */
    z-index: -9;
}

/* Y-axis */
.timeline-50 {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #ccc; /* Color of the axis */
    z-index: -9;
}

/* Y-axis */
.timeline-75 {
    content: '';
    position: absolute;
    left: 75%;
    width: 2px;
    height: 100%;
    background: #ccc; /* Color of the axis */
    z-index: -9;
}

.small-screen{
    display: none;
}

/* For large screens and above */
@media (min-width: 768px) {
    .container-small {
        position: absolute;
        width: 100%;
        bottom: 0%;
    }

    .left-container{
        text-align: right;
        bottom: 0%;
    }

    .right-container{
        bottom: 0%;
    }
}

@media (max-width: 767px) {
    .timeline-50 {
        display: none;
    }

    .timeline-25 {
        display: none;
    }

    .timeline-75 {
        display: none;
    }

    .img-thumbnail-custom{
        display: none;
    }

    .title-custom {
        margin-left: 0px;
        margin-top: 0%;
    }

    .left-container{
        display: auto;
    }
    
    .right-container{
        display: auto;
    }

    .small-screen{
        display: block;
    }
    
    /* Default for small screens */
    .container-small {
        position: relative;
    }

}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.2) !important; /* Change the last value (0.3) to adjust the transparency */
}

.modal-body {
    max-height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.timeline-container {
    position: relative;
    width: 100%; /* Adjust as needed */
}

.img-thumbnail-custom {
    width: 20vw;
    opacity: 0.7;
    filter: grayscale(50%); 
}

.img-thumbnail-custom:hover {
    filter: grayscale(10%); 
}

.title-custom {
    z-index: 1;
    font-size: 199rem;
    text-align: right;
}

#response-output h3 {
    color: teal;
    font-size: 1.2em;
}

#response-output strong {
    color: #333;
    font-weight: bold;
}
