body{
    max-width: 98%;
}

a {
    text-decoration: none !important;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
}

h4 {
    line-height: 1.6;
}

.card-text {
    overflow-y: auto;
    height: 10vh;
    padding-bottom: 5px;
}

.card-tag {
    max-height: 0.5vh;
}

.btn {
    margin-left: 0px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-text {
    margin: 2px;
    margin-top: 5px;
    margin-left: 0px;
    padding:5px;
    font-size: 13px;
}

.btnf {
    color: teal;
}

.color-teal {
    color: teal;
}

.mark-teal {
    background-color: teal;
    color: white;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

/* width */
::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}